<nav id="nav">
  <button class="menu-toggle">Menu</button>
  <div class="logo">
    <a href="https://www.institutolizardi.edu.mx/en/">
      <img src="/ima/Logo-instiuto-lizardi.svg" alt="Instituto Lizardi"
    /></a>
  </div>
  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  <ul id="langBtn">
    <li>
      <a href="#">Spanish version</a>
    </li>
  </ul>


  <!-- {% set nav = collections.all | eleventyNavigation %}
<ul>
{% for entry in nav %}
  <li>
    <a href="{{ entry.url | url }}" {% if entry.url == page.url %} class="active"{% endif %}>{{ entry.title }}</a>
  </li>
{% endfor %}
</ul> -->

  <!-- {{ collections.all | eleventyNavigation("Grados") | eleventyNavigationToHtml | safe }} -->

  <!-- <ul>
    {% for pagina in collections.paginas %}
    <li>
      <a href="{{ pagina.url }}">{{ pagina.data.tituloPaginas }}</a>
    </li>
    {% endfor %}
  </ul> -->
  <ul class="social">
    <a href="https://www.facebook.com/" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
  </ul>
</nav>
