{% extends "./base.njk" %}

{% block content %}
<section id="cover">
  <div class="bandeja">
    <div>
      <h1>{{ tituloPaginas }} </h1>
    </div>
  </div>

  <img src="{{ imagenPrincipal }}" alt=" {{ tituloPaginas }}" />
</section>

<section id="post">
  <div class="conte">
      {{ content | safe }}
  </div>
</section>

{% endblock %}
