//reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1,h2{
  line-height: 1em;
}
h3 {
  font-weight: 300;
}

// tamaños
h1{
  font-size: clamp(2.7em, 6vw, 7em);
  font-weight: 700;
}
h2{
  font-weight: 700;
  font-size: clamp(1.5em, 3vw, 4em);
}
ol,
ul {
  list-style: none;
}

p{
  line-height: 1.5em;
}
img {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color:#3d3d3d;
  &:hover{
    color:#4a6580;
  }
}
.activo{
  font-weight: bold;
}